
body {
    margin: 0;
    padding: 0;
    background-color: rgba(26,55,229,0.06);
}

img {
    width: 100%;
    margin: 0;
    vertical-align: top;
}

header {
    background-color: #007acc;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

header h1 {
    margin: 0;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}

.photo {
    position: relative;

}

.photo .inner {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    margin: 0;
    width: 100%;
}

.inner p {
    padding: 20px;
}

.inner span {
    margin-left: 10px;
}