body {
    margin: 0;
    padding: 10px;
    background-color: rgba(26,55,229,0.06);
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  
  .axis .tick line {
    fill: none;
    stroke: #ccc;
  }
  .axis text {
    font-family: sans-serif;
    font-size: 9px;
  }
  
  .y-axis-label {
    font-family: sans-serif;
    font-size: 9px;
    word-wrap: break-word;
    text-align: center;  
  }
  
  .y-axis path {
    stroke: none;
  }

header {
    background-color: #007acc;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
  .