p {
    font-size: 14px;
}

h1{
    font-size: 24px;
    margin:  0;
}

.content {
    background-color: #fff;
    width: 600px;

    margin: 0 auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}

input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    background-color: #2096f3;
    color: #fff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 8px #000000 .4;
}

.required {
    color:#f00;
    font-size: 3px;
    padding: 3px;
    background-color: #fee;
    font-weight: bold;

}

body {
    background-color: #fafafa;
}

.contol {
    margin-bottom: 3em;
}
label {
    display: block;
    margin-bottom: .5em;
}