p {
    font-size: 14px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.content {
    background-color: #fff;
    width: 600px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}