html{
    background-color:white;
}

h1{
    background-color: lightgray
}

.Introduce{
    display: flex;
    gap:2rem; 
    justify-content: center;   
}
.Character{
    background-color: lightgray;
    flex-wrap: wrap;
    width: 25%;
    margin: 0%;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .Introduce{
        flex-direction: column;
    }
    .Character{
        width: 100%;
    }
}